.aboutus-container{
    margin: 20px 40px;
    color:black;
    width: 100%;
    
}
.our-team{
    font-size: 60px;
    color:black;
    margin-bottom: 30px;
    
}
.our-team span{
    font-style: italic;
    font-size: 30px;

}
.profiles{
    
    justify-content: space-around;
/* margin: 20px 80px;*/

}
.profile{
    flex-basis: 260px;
    display: inline-block;
    width: 30%;
    margin-left: 40px;
    margin-bottom: 40px;
    
    
}

.profile .profile-img{
    height: 260px;
    width:260px;
    border-radius: 50%;
    filter:grayscale(100%);
    cursor:pointer;
    transition: 400ms;
}
.profile:hover .profile-img{
    filter:grayscale(0);
}
.partner-name{
    margin-top: 30px;
    font-size:35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.profile h5{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: rgb(131, 129, 129);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.profile-line2{
    flex-basis: 260px;
    display: inline-block;
    width: 30%;
    margin-top: 50px;
}

.profile-line2 .profile-img{
    height: 260px;
    width:260px;
    border-radius: 50%;
    filter:grayscale(100%);
    cursor:pointer;
    transition: 400ms;
}
.profile-line2:hover .profile-img{
    filter:grayscale(0);
}
.partner-name{
    margin-top: 30px;
    font-size:35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.profile-line2 h5{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: rgb(83, 81, 81);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
