/* #givingFeed{
    float:right left;
    width: 40%;
    
}
#feedBack{
float:right;
width: 40%;


} */

#feedBackCont {
    box-sizing: border-box;
    display: inline-block;
    width: 60%;
    margin-left: 50px;
}

#feedBack {
    overflow: auto;
    width: 29%;
    height: 228px;
    border-radius: 8px;
    box-shadow: 5px 5px 2px 1px rgba(37, 129, 72, 0.39);
    margin: auto;
    height: 390px;
}


fieldset legend {
    
    color: rgb(251, 251, 251);
    font-family: cursive;
    font-size: bold;
    background-color: rgb(0 15 22);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    height: 25px;
    /* box-shadow:5px 5px 2px 1px rgba(37, 129, 72, 0.39) ; */
}

fieldset legend:hover {
    background-color: #383434;
    height: 22px;
    font-size: bolder;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow:5px 5px 2px 1px rgba(37, 129, 72, 0.39) ;
 
    border-top-left-radius: 10px;
}

#feedshow {
    width: 20%;
    overflow: scroll;
} 
#submitter{
    height: 25px;
    color: darkblue;
    height: 30px;
    font-weight: bold;
    position: relative;
    left: 37%;
    transition: width 4s
 }

#submitter:hover{
    background-color: #141220;
    color: white;
   font-family: cursive;
   font-weight: bolder;
   box-shadow: 3px 3px 2px 1px rgba(37, 129, 72, 0.39);
   border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;   
    width: 150px;
    height: 35px;
    
}
#slideShow{
    box-shadow: 3px 3px 2px 1px rgba(45, 53, 48, 0.39);
    background-color: rgba(246, 240, 240, 0.315);

}
#slideShow h2{
    width: auto;
    color: black;   
}
#slideShow p{
    color: #080047;
    box-shadow: 3px 3px 2px 1px rgb(119 121 131 / 16%);
}
#textArea{
    width: 57%;
    height: 257px;
    box-shadow: 3px 3px 2px 1px rgb(0 15 22);
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    border-bottom-left-radius: 33px;  
    background-color: rgb(248 146 110 / 23%);
}
#userName{
    position: relative;
    left: 52px;
    margin: 15px;
    box-shadow: 3px 3px 2px 1px rgb(0 15 22);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;   
}
#name{
    position: relative;
    left: 110px;
    text-shadow: 0 0 #080047;
}