#poster{

    width: 35%;
    height: 300px;
}

/*fonts {
    1- for the logo: font-family: 'Tangerine', cursive;
    2- for the normal texts:
    font-family: 'Noto Sans KR', sans-serif;

    3- bold:
    font-family: 'Noto Sans KR', sans-serif;

}
/*

/*
Colors:


4-
/*