

#home p {
    width: 30%;
    margin: 20px auto;
}

#home img {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

form {
    width: 23%;
    margin: 0 auto;
}

textarea {
    background-color: #fcd1d1;
    border-radius: 0.5rem;
    margin-top: 15px;
}

form label {
    width: 50%;
    margin: 0 auto;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 4px;
    font-weight: 900;
    color: #aee1e1;
}

.submitter {
    cursor: pointer;
    margin: 0 auto;
    background-color: #aee1e1;
}