body{
    
}

form{
    width: 30%;
    float: left;
}
#feedBack{
    float: right;
    
}
.circular img{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin-right: 61px;
    border-radius: 100%;
}
.circular {
    clear: both;
    word-wrap: break-word;
    width: 69.95%;
    height: 250px;
    margin:auto;
background-color: white;
}

.home-desc {
    width: 30%;
    margin-bottom: 100px;
    display: inline-block;
    margin-right: 45px;
    line-height: 2;
    text-indent: 30px;
}

.circular img:hover{
    /* background-color: yellow; */
    border : 1px solid black;
}

