
.chacked{
    color: blue;
}

.rate:not(:checked) > input {
    position:absolute;
    top: auto;
    display: inline-block;
    text-align: center;
    
}
.rate:not(:checked) > label {
    float:right;
    width:3em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color: #eff1f0;
    position: relative;
    left: -185px;   
    top: 30px;

}
.rate:not(:checked) > label:before {
    content: '★';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}